body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.build{
/*    border: 1px solid #ccc;min-height: 220px;padding: 5px;padding-bottom: 50px;*/
}